In [2]:
# Data Manipulation and Analysis
import pandas as pd
import numpy as np

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Statistical Modeling and Machine Learning
from sklearn import model_selection, metrics, linear_model, ensemble
import statsmodels.api as sm
from scipy import stats
#excel files
import openpyxl

/var/folders/vk/5gcf3zb93294m3nthpt29rdm0000gp/T/ipykernel_23196/379692301.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [28]:
fangraphs_data = pd.read_csv("fangraphs_season_level.csv")
savant_data = pd.read_csv("savant_pitch_level.csv")

In [35]:
fangraphs_data.head()

,Name,PlayerId,Throws,Age,Team,Role,ERA,G,GS,IP,SO,BB,SV,HLD,FIP,xFIP,SIERA,WHIP
0,NeftalÃ­ Feliz,18,R,33,- - -,RP,9.000002,5,0,4.0,3,1,0,0,6.420031,5.375481,4.519107,1.500000
1,Tommy Hunter,1157,R,34,NYM,RP,0.000000,3,0,6.0,5,3,0,0,3.503364,4.679604,4.692691,1.166667
2,Andrew Romine,1159,R,35,CHC,RP,9.000000,1,0,1.0,1,0,0,0,14.170030,4.698750,3.962118,2.000000
3,Matt Bush,1246,R,35,TEX,RP,6.750000,4,0,4.0,5,1,0,2,11.170030,4.948750,3.579965,1.250000
4,Adam Ottavino,1247,R,35,BOS,RP,4.209677,69,0,62.0,71,35,11,22,3.960353,4.704783,4.232883,1.451613

In [29]:
print(fangraphs_data.columns)

Index(['PlayerId', 'MLBAMID', 'Name', 'NameASCII', 'Throws', 'Season', 'Age',
       'Team', 'Role', 'G',
       ...
       'Pit_plus_FC', 'Stf_plus_FS', 'Loc_plus_FS', 'Pit_plus_FS',
       'Stf_plus_FO', 'Loc_plus_FO', 'Pit_plus_FO', 'Stuff_plus',
       'Location_plus', 'Pitching_plus'],
      dtype='object', length=308)

In [30]:
fangraphs_columns = ['Name','PlayerId', 'Throws', 'Age', 'Team', 'Role', 'ERA', 'G', 'GS', 
                   'IP', 'SO', 'BB', 'SV', 'HLD', 'FIP', 'xFIP', 'SIERA', 'WHIP']

fangraphs_data = fangraphs_data[fangraphs_columns]

In [31]:
savant_data.columns
savant_columns = ['player_name', 'pitch_type', 'release_speed', 'release_spin_rate', 
                  'events', 'pfx_x', 'pfx_z', 'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 
                  'spin_axis', 'game_year']

savant_data = savant_data[savant_columns]

In [37]:
savant_data['player_name'] = savant_data['player_name'].str.split(', ').str[::-1].str.join(' ')
savant_data['player_name'] = savant_data['player_name'].astype(str)
fangraphs_data['Name'] = fangraphs_data['Name'].astype(str)


merged_data = pd.merge(savant_data, fangraphs_data, left_on='player_name', right_on='Name')

In [39]:
merged_data.head()

,player_name,pitch_type,release_speed,release_spin_rate,events,pfx_x,pfx_z,vx0,vy0,vz0,...,GS,IP,SO,BB,SV,HLD,FIP,xFIP,SIERA,WHIP
0,Danny Duffy,FF,93.2,2351.0,strikeout,0.43,1.57,-3.263176,-135.520600,-8.932598,...,0,1.0,1,0,0,0,1.170030,1.170030,-0.479878,0.000000
1,Danny Duffy,FF,93.2,2351.0,strikeout,0.43,1.57,-3.263176,-135.520600,-8.932598,...,12,60.0,64,22,0,0,3.436697,4.283335,4.179673,1.233333
2,Danny Duffy,SL,82.9,2408.0,NaN,-0.42,-0.34,-1.343797,-120.739091,-0.762147,...,0,1.0,1,0,0,0,1.170030,1.170030,-0.479878,0.000000
3,Danny Duffy,SL,82.9,2408.0,NaN,-0.42,-0.34,-1.343797,-120.739091,-0.762147,...,12,60.0,64,22,0,0,3.436697,4.283335,4.179673,1.233333
4,Mike Foltynewicz,FF,94.6,2264.0,caught_stealing_3b,-0.56,1.53,11.292119,-137.173707,-7.760459,...,0,9.0,6,3,0,0,4.281141,4.012937,4.083437,1.000000